@import 'src/globals.scss';

.microcomponent-container {
    border: 0.5px solid lightgrey;
    border-radius: 6px;
    font-family: $font;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    color: rgb(56, 56, 56);
    

    .project-title {
        font: 18px $font;
        margin-bottom: 10px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .date {
            font: 14px $font;
        }
    }

    .project-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .technologies {
            display: flex;
            flex-wrap: wrap;
            font: 14px $font;
            font-weight: 500;
            // border: 2px solid;
        }
    }

    .project-description {
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 10px;

        .description-list {
            padding-left: 20px;
        }
    }

    .combined-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .single-link {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            font: 14px $font;
            color: rgb(56, 56, 56);

            &:visited {
                color: inherit;
            }
        }
    }
}


