@import 'src/globals.scss';

.microcomponent-container {
    border: 0.5px solid lightgrey;
    border-radius: 6px;
    font-family: $font;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    color: rgb(56, 56, 56);
    width: 17.5vw;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 60vw;
        margin: 0 0 20px 0;
    }

    @media only screen and (min-width: 480px) and (max-width: 850px) {
        width: 25vw;
        margin: 0 20px 20px 0;
    }

    &.dark {
        background-color: #2e2e2e;
        transition: all 0.5s ease;
        color: rgb(215, 215, 215);
        border-color: #2e2e2e;
    }

    &.light {
        background-color: white;
        transition: all 0.5s ease;
        color: rgb(56, 56, 56);
    }


    .project-title {
        font: 20px $font;
        margin-bottom: 10px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .date {
            font: 16px $font;
        }
    }

    .project-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .technologies {
            display: flex;
            flex-wrap: wrap;
            font: 14px $font;
        }
    }

    .project-description {
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 30px;

        .description-list {
            padding-left: 20px;
        }
    }

    .combined-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .single-link {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            font: 14px $font;
            color: rgb(56, 56, 56);

            &.dark {
                color: rgb(215, 215, 215);
                transition: all 0.5s ease;

                &:visited {
                    color: inherit;
                }
            }

            &.light {
                color: rgb(56, 56, 56);
                transition: all 0.5s ease;

                &:visited {
                    color: inherit;
                }
            }
        }
    }
}


.technology-icon {
    background-color: #484747;
    border: 2px #484747 solid;
    margin: 2px;
    padding: 6px 7px;
    border-radius: 6px;
    transition: all 0.5s ease;

    &.light {
        background-color: white;
        transition: all 0.5s ease;
        border: 2px lightgrey solid;
    }
}