@import 'src/globals.scss';

.homepagetext-container {
    @include text-container;

    .about-text {
        font-family: $font;

        &.dark {
            color: rgb(230, 230, 230);
        }

        
    }

    .main-text {
        font: 18px $font;
        color: rgb(56, 56, 56);
        line-height: 1.6;

        &.dark {
            color: rgb(183, 182, 182);
        }
    }

    .projects-links {
        text-decoration: underline;
        color: rgb(35, 82, 177);

        &:hover {
            color: $hover-color;
        }

        &.dark {
            color: rgb(7, 123, 255);

            &:hover {
                color: white;
            }
        }
    }
}