@import "src/globals.scss";

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &.dark {
        background-color: #212121;
        transition: all 0.5s ease;
    }

    &.light {
        background-color: white;
        transition: all 0.5s ease;
    }

    .secondary-container {

        &.dark {
            background-color: #212121;
            transition: all 0.5s ease;
        }

        &.light {
            background-color: white;
            transition: all 0.5s ease;
        }

        .main-content-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 100%;
            margin: 5vh 10vw;

            @media only screen and (min-width: 320px) and (max-width: 480px) {
                flex-direction: column;
            }

            &.dark {
                background-color: #212121;
                transition: all 0.5s ease;
            }

            &.light {
                background-color: white;
                transition: all 0.5s ease;
            }


        }
    }

}