@import "src/globals.scss";

nav {
    box-shadow: 0 0.2px 2px grey;
    display: flex;
    justify-content: space-between;


    // #32353b
    &.dark {
        background-color: #282828;
        transition: all 0.5s ease;
        box-shadow: 0 1px 1px black;
    }

    &.light {
        background-color: white;
        transition: all 0.5s ease;
    }

    .nav-elements {
        display: flex;
        flex-direction: row;
        gap: 50px;
        font: 100% $font;
        margin: 0 20vw;
        padding: 25px 100px;

        .nav-element {
            text-decoration: none;
            color: grey;

            &.dark {
                color: rgb(161, 161, 163);

                &:hover {
                    color: white;
                }
            }

            &.light {
                &:hover {
                    color: $hover-color;
                }

            }


        }
    }

    // @media screen and (max-width: 2000px) {
    //     .nav-elements {
    //         margin: 0 10vw;
    //     }
    // }

    .mode-toggle {
        margin: 2vh 10vw;
        background-color: white;
        border: 0.5px solid grey;
        border-radius: 20px;
        font: 75% $font;
        color: black;

        &:hover {
            background-color: rgb(220, 220, 220);
        }
    }
}