@import 'src/globals.scss';

.sidebar-container {
    display: flex;
    flex-direction: column;

    width: 17.5vw;
    height: auto;
    padding: 25px 50px;
    margin: 5%;
    border: 0.5px solid lightgrey;
    border-radius: 6px;
    gap: 2vw;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
        flex-direction: row;
        margin: 0;
        width: 56vw;
    }

    @media only screen and (min-width: 480px) and (max-width: 850px) {
        width: 60vw;
    }


    &.dark {
        background-color: #2e2e2e;
        transition: all 0.5s ease;
        border-color: #2e2e2e;
    }

    &.light {
        background-color: white;
        transition: all 0.5s ease;
    }

    .profile-picture {
        display: flex;
        justify-content: center;
        width: 7vw;
        height: auto;
        margin: auto;
        border-radius: 50%;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
            width: 15vw;
            margin-right: 24px;
        }

    }

    .header-text {
        font: 18px $font;
        text-align: left;
        color: rgb(56, 56, 56);

        &.dark {
            color: white;
            transition: all ease 0.5;
        }

        .name {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
        }

        .description {
            font-size: 13.5px;

        }
    }

    .icons {
        @media only screen and (min-width: 320px) and (max-width: 480px) {
            display: none;
        }

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font: 13.5px $font;
        text-align: left;
        color: rgb(56, 56, 56);

        .icon-container {
            display: flex;
            flex-direction: column;
            gap: 11px;
        }

        .icon-text {
            display: flex;
            flex-direction: column;
            gap: 17.5px;

            &.dark {
                color: #CED0D7;
                transition: all ease 0.5;
            }
        }

        .icon-link {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}