@import 'src/globals.scss';

.sidebar-container {
    display: flex;
    flex-direction: column;
    

    width: 17.5vw;
    height: auto;
    padding: 20px 50px;
    margin: 5%;
    border: 0.5px solid lightgrey;
    border-radius: 6px;
    gap: 2vw;
}

.profile-picture {
    display: flex;
    justify-content: center;
    width: 10vw;
    height: auto;
    margin: auto;
}

.header-text {
    font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    color: rgb(56, 56, 56);
}

.name {
    margin-bottom: 5px;
    font-weight: bold;
}

.description {
    font-size: 13.5px;
    line-height: 1.6;
}

.icons {
    font: 13.5px -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
    color: rgb(56, 56, 56);
}

@mixin icon-styles {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.location {
    @include icon-styles  
}

.school {
    @include icon-styles
}

