@import 'src/globals.scss';

footer {
    border-top: 0.2px rgb(191, 191, 191) solid;
    background-color: rgb(242, 243, 243);

    &.dark {
        background-color: #282828;
        border-top: 0.2px black solid;
        transition: all 0.5s ease;
    }

    &.light {
        background-color: white;
        transition: all 0.5s ease;
    }

    .footer-container {
        font: 12px $font;
        margin: 0 20vw;
        padding: 50px 100px;
        color: rgb(162, 168, 172);

        @media only screen and (min-width: 320px) and (max-width: 480px) {
            margin: 0;
            padding: 25px 50px;
        }

        .source-link {
            color: inherit;
            text-decoration: none;
        }
    }
}