html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

// font import
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;

$hover-color: rgb(40, 40, 40);

// for homepage and projects text-container
@mixin text-container {
    margin: 5% 0%;
    width: 70vw;
}